@using System.Drawing
@using Webdiyer.WebControls.Mvc

@model PagedList<FMS.YongHu_RenWu>
@*@model IEnumerable<FMS.RenWu>*@
@{
    ViewBag.Title = "待办事项";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script type="text/javascript">
    //解决Uploadify在非IE浏览器下上传文件出现302错误的问题
    var auth = "@(Request.Cookies[FormsAuthentication.FormsCookieName] == null ? string.Empty : Request.Cookies[FormsAuthentication.FormsCookieName].Value)";
    var ASPSESSID = "@Session.SessionID";

    var url = window.location.href;
    if (url.indexOf("?") != -1) {
        window.location.href = url.split('?')[0];
    }
    
    
    $(function () {
        CheckAll(); //数据表格的全选函数
        CheckedTr();  //数据表格实现点击table里的某一个tr 选中此行
        ShowTaskBtn();  //查看详细事项按钮
        DownLoadTaskFile();
        DeleteTask();  //删除事项按钮
    });
    
    //关闭查看事项对话框的时候刷新一下页面
    function CloseDialog() {
        $("#ShowTaskDialog").dialog("close");
        window.location.reload();
    }

    //数据表格checkbox选择行 返回第一列ID的值
    //删除按钮
    function DeleteTask() {
        $("#DeleteTaskBtn").click(function () {
            var postData = new Array;
            var i = 0;
            $("#mytable #TableData tr td").find(":checkbox").each(function () {
                if ($(this).prop("checked") == true) {
                    postData[i] = $(this).val();
                    i++;
                }
            });

            alert("删除选中的任务?");
            if (postData.length == 0) {
                alert("删除之前先选择一个任务好不的?");
                return;
            }
            $.get("@Url.Action("Delete", "Backlog")?TaskIds=" + postData, function (reData) {
                //alert(reData);
                window.location.reload();
            });
        });
    }


    //ToolBar 栏目的 查看事项按钮
    function ShowTaskBtn() {
        $("#ShowTaskDialog").dialog({
            title: '查看事项',
            width: 600,
            height: 400,
            modal: true,
            autoOpen: false,
            show: { effect: "scale", duration: 300 },
            hide: { effect: "explode", duration: 300 },
        });

        $("#ShowTaskBtn").click(function () {
            var postData = new Array;
            var i = 0;
            $("#TableData :checkbox:checked").each(function () {
                var tablerow = $(this).parent("td").parent("tr");
                postData[i] = parseInt(tablerow.find("td").eq(1).text());
                i++;
            });

            $("#TaskName").val("");
            $("#UploadTime").val("");
            $("#CloseTime").val("");
            $("#Publisher").val("");
            $("#TaskDetails").val("");
            if (postData[0] != null) {  //判断用户是否选择了一行数据 如果选择多行只会显示第一行
                $.ajax({
                    url: "@Url.Action("Finds", "Backlog")",
                    dataType: "json",
                    data: { "ID": postData[0] },
                    type: "POST",
                    traditional: true,   //这个属性必须加上 可以试实现传递数组
                    success: function (Data) {
                        var reData = eval(Data);
                        //alert(reData.UploadTime);
                        if (reData.UploadTime == "") {
                            reData.UploadTime = "（空）";
                        }
                        //else {
                        //    UploadTime = new Date(parseInt(reData.UploadTime.replace("/Date(", "").replace(")/", ""))).toLocaleString();
                        //}
                        if (reData.CloseTime == "") {
                            reData.CloseTime = "（空）";
                        }
                        //else {
                        //    CloseTime = new Date(parseInt(reData.CloseTime.replace("/Date(", "").replace(")/", ""))).toLocaleString();
                        //}
                        $("#TaskName").val(reData.TaskName);
                        $("#UploadTime").val(reData.UploadTime);
                        $("#CloseTime").val(reData.CloseTime);
                        $("#Publisher").val(reData.Publisher);
                        $("#TaskDetails").val(reData.TaskDetails);
                        UploadFile();
                    },
                    error: function () {
                        alert("出现错误！");
                    }
                });
                $("#ShowTaskDialog").dialog("open");

            } else {
                alert("先选择一个事项..");
            }
        });
    }

    //查看事项弹出框的上传文件按钮
    function UploadFile() {
        var postData = new Array;
        var i = 0;
        $("#TableData :checkbox:checked").each(function () {
            var tablerow = $(this).parent("td").parent("tr");
            postData[i] = parseInt(tablerow.find("td").eq(1).text());
            i++;
        });
        $("#UploadFileBtn").uploadify({
            'formData': { 'ASPSESSID': ASPSESSID, 'AUTHID': auth }, //防止在非IE浏览器中出302错误
            'swf': '@Url.Content("~/Content/Uploaddify/uploadify.swf")',
            'uploader': '@Url.Action("UploadFile", "Backlog")', //处理文件上传Action
            'auto': false, //是否自动上传
            'buttonText': '选择文件',
            'fileSizeLimit': '100MB',
            'fileTypeExts': '*.*',
            'height': 25,
            'width': 80,
            'queueID': 'fileQueue', //队列的ID
            'method': 'post',
            'multi': false,
            'rollover': true,
            'onQueueComplete': function (event) { //所有队列完成后事件
                if (event.uploadsSuccessful) {
                } else
                    $("#ShowFileOk").append("<h4 style='margin: 5px 0 0 0; color: red;'>上传失败!</h4>"); //提示失败
            },
            'onUploadSuccess': function (file) {
                $("#ShowFileOk").append("<h5 style='margin: 5px 0 0 0; color: green;'>" + file.name + "--上传成功!</h5>"); //提示完成
            },
            'onUploadStart': function () {
                $("#UploadFileBtn").uploadify("settings", 'formData', { 'Task_ID': postData[0] }); //动态传参数
            }
        });
    }



    //下载
    function DownLoadTaskFile() {
        $("#DownLoadTaskFile").click(function() {
            var postData = new Array;
            var i = 0;
            $("#TableData :checkbox:checked").each(function () {
                var tablerow = $(this).parent("td").parent("tr");
                postData[i] = parseInt(tablerow.find("td").eq(1).text());
                i++;
            });
            if (postData[0].length == 0) {
                alert("先选择一个任务..");
                return;
            }

            $.get("@Url.Action("DownLoadFile", "Backlog")?TaskId=" + postData[0], function(reData) {
                if (reData!= "false") {
                    //$("#DownLoadTaskFile").href(reData);                   
                    var a;
                    a = window.open("@Url.Content("~/UploadFiles/")" + reData, "_self", "width=0, height=0,status=0");
                    a.document.execCommand("SaveAs");
                    //a.close();
                } else {
                    alert("还没有上传的文件");
                }
             
            });
        });
    }

</script>


<div class="toolbar">
    <ul>
        <li><a href="#" id="ShowTaskBtn">查看任务</a></li>
        <li><a href="#" id="DeleteTaskBtn">删除任务</a></li>
        <li><a href="#" id="DownLoadTaskFile">任务说明下载</a></li>
    </ul>
</div>

<div id="DataGrid" style="width: 100%; height: 420px; background-color: #ffffff;">
    <style type="text/css">
        .mvcPager a {
            
            text-decoration: none;
        }
        .mvcPager {
            background-color: #696969;
            border-bottom: 1px #000000 solid;
            font-size: 12px;
            color: #ffffff;
            padding-left: 10px;
            font-weight: bolder;
        }
        .mvcPager input[type=text] {
            width: 24px;
            border: #ffffff 1px solid;
        }

        .mvcPager .gotoPage {
            float: right;
        }
    </style>
    
    
    <table id="mytable" cellspacing="0" style="width: 100%">
        <tr style="height: 25px;">
            <th width="30px">
                <input name="chkAll" type="checkbox" value="checkbox" id="CheckAll" />
            </th>
            <th style="width: 30px;">
                序号
            </th>
            <th style="width: 200px;">
                任务名
            </th>
            <th style="width: 200px;">
                开始日期
            </th>
            <th style="width: 200px;">
                截止日期
            </th>
            <th style="width: 200px;">
                发布者
            </th>
            <th style="width: 100px;">
                已读/未读
            </th>
        </tr>
        <tbody id="TableData">
            @foreach (var item in Model)
            {
                <tr>
                    <td width="30px" style="text-align: center;" id="SingleCheck">
                        <input id="@Html.DisplayFor(modelItem => item.RenWu.ID)" type="checkbox" value="@Html.DisplayFor(modelItem => item.RenWu.ID)" />
                    </td>
                    <td style="text-align: center;" id="td">
                        @Html.DisplayFor(modelItem => item.RenWu.ID)
                    </td>
                    <td style="text-align: center;" id="td">
                        @Html.DisplayFor(modelItem => item.RenWu.TaskName)
                    </td>
                    <td style="text-align: center;" id="td">
                        @Html.DisplayFor(modelItem => item.RenWu.UploadTime)
                    </td>
                    <td style="text-align: center;" id="td">
                        @Html.DisplayFor(modelItem => item.RenWu.CloseTime)
                    </td>
                    <td style="text-align: center;" id="td">
                        @Html.DisplayFor(modelItem => item.RenWu.Publisher)
                    </td>
                    <td style="text-align: center;" id="td">
                        @if (@item.ReadOrNo == true)
                        {
                            @Html.Raw("<font color='#dcdcdc'>已读</font>")
                        }
                        else
                        {
                            @Html.Raw("<font color='#696969' style='font-weight: bolder;'>未读</font>")
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @Html.AjaxPager(Model, new PagerOptions
    {
        AutoHide = false,
        CssClass = "mvcPager",
        PageIndexParameterName = "id",
        FirstPageText = "首页",
        LastPageText = "末页",
        PrevPageText = "上一页",
        NextPageText = "下一页",
        GoButtonText = "跳转",
        HorizontalAlign = "left",
        SeparatorHtml = "&nbsp; &nbsp;",
        ShowMorePagerItems = true,
        AlwaysShowFirstLastPageNumber = true,
        ShowPageIndexBox = true,
        PageIndexBoxWrapperFormatString = "{0}页"
    }, new AjaxOptions() { UpdateTargetId = "DataGrid" })
</div>

















<!--------------查看新任务详细信息的弹出对话框--------------->
<div id="ShowTaskDialog">

    <div id="formData" style="width: 100%;">
        <table width="100%" style="border: #696969 1px solid;">
            <tr style="border: #696969 1px solid">
                <td>
                    <label name="TaskName">事项名称：</label>
                    <input id="TaskName" name="TaskName" readonly />
                </td>
                <td>
                    <label name="UploadTime">开始日期：</label>
                    <input id="UploadTime" name="UploadTime" readonly />
                </td>
            </tr>
            <tr style="border: #696969 1px solid">
                <td>
                    <label name="CloseTime">截止日期：</label>
                    <input id="CloseTime" name="CloseTime" readonly />
                </td>
                <td>
                    <label name="Publisher">发布者&nbsp;：&nbsp;&nbsp;</label>
                    <input id="Publisher" name="Publisher" readonly />
                </td>
            </tr>
        </table>
    </div>
    <div style="width: 100%; height: 100px; float: left; margin-top: 15px;">
        <label name="TaskDetails">任务详细&nbsp;：&nbsp;&nbsp;</label>
        <textarea id="TaskDetails" name="TaskDetails" style="width: 99%; height: 80px; resize: none;" readonly></textarea>
    </div>

    <div style="width: 100%; height: 40px; margin: 20px 0 0 0px; border-bottom: #cccccc 1px solid; float: left;">
        <div style="width: 50px; height: 40px; float: left; margin-top: 6px;">
            <input id="UploadFileBtn" name="UploadFileBtn" type="file" multiple="multiple" style="z-index: 10000; width: 60px; height: 20px; " />
        </div>
        <div style="width: 50px; height: 30px; float: left; margin: 6px 30px 0 60px;">
            <input id="UploadFileOkBtn" type="button" value="确定上传" onclick="$('#UploadFileBtn').uploadify('upload', '*')" style="width: 80px; height: 30px; font-size: 12px; font-weight: bolder;" />
        </div>
        <div id="ShowFileOk" style="float: left; width: 150px; height: 30px; margin: 6px 0 0 40px; "></div>

    </div>
    <input value="关闭" type="button" style="width: 100px; height: 40px; float: left; margin-top: 20px;" onclick="CloseDialog()" />

</div>